#contact {
  background-color: $dark-bg-secondary;
  padding: 10rem 0;
  text-align: center;
  color: $text-primary;
  margin-top: -5rem; // Adjust for overlap if needed, or just 0

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 2.5rem;
      font-size: 2.4rem;
      color: $text-secondary;
    }

    .cta-btn {
      font-size: 2rem;
    }
  }
}