// COLORS
$primary-color: #870000;
$secondary-color: #190A05;

$white-color: #9a6d6d;

$dark-grey: #4e4545;
$light-grey: #d2d2d2;

$dark-blue-text: #ffffff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
