// COLORS
$primary-color: #c7b198;
$secondary-color: #dfd3c3;

$white-color: #f0ece2;

$dark-grey: #4e4545;
$light-grey: #d2d2d2;

$dark-blue-text: #596e79; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
