@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/variables";
@import "./sass/abstracts/mixins";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/navbar";
@import "./sass/layout/sections";

@import "./sass/sections/hero";
@import "./sass/sections/about";
@import "./sass/sections/skills";
@import "./sass/sections/projects";
@import "./sass/sections/contact";